platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/local.properties

platforms/wp8/*.bak
platforms/wp8/thumbs.db

platforms/wp8/App_Data/
platforms/wp8/bin/
platforms/wp8/obj/
platforms/wp8/Bin/
platforms/wp8/_ReSharper.*
platforms/wp8/tmp/

platforms/wp8/*.user
platforms/wp8/*.suo

platforms/wp8/www/

CordovaDeploy

platforms/blackberry10/build/
