body {
  margin: 0;
  padding: 0;
  background-color: #BADA55;
}

#tagContents {
  margin:0;
  padding-right: 20px;
  padding-left: 20px;
}

#instructions {
  text-align: center;
  padding: 40px 10px 20px 10px;
}

#instructions p:last-child {
  padding-top: 60px;
  font-size: .8em;
}

h1 {
  font-size: 1.25em;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 0 10px 10px 10px;
}

dt {
  float: left;
  margin-right: 0.25em;
}

dt:after
{
    content:": ";
}

dd {
  font-weight: bold;
}