body {
  margin: 0;
  padding: 0;
  background-color: #BADA55;
}

#tagContents {
  margin:0;
  padding-right: 20px;
  padding-left: 20px;
}

.instructions {
  text-align: center;
  padding: 40px 10px 20px 10px;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
}

.hidden {
  opacity: 0;
}

h1 {
  font-size: 1.25em;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 0 10px 10px 10px;
}

dt {
  float: left;
  margin-right: 0.25em;
}

dt:after
{
    content:": ";
}

dd {
  font-weight: bold;
}

div.record {
  margin-top: 10px;
}
